@use "../utils/variables" as *;

main {
  position: relative;
  overflow: hidden;
}

main > * {
  z-index: 1;
}

.page-content {
  padding: $spacing-lg 32px;
}

.page-wrapper {
  display: flex;
  justify-content: center;
  padding: $spacing-xl 20px;
}

.page-container {
  width: 100%;
  max-width: 500px;
  text-align: center;

  h2 {
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 30px;
    color: $color-grey;
  }
}
