.print-img {
  background-image: url("../../../public/hero-photo.jpg");
}

.pottery-img {
  background-image: url("../../../public/hero-pottery.jpg");
}

.painting-img {
  background-image: url("../../../public/hero-painting.jpg");
}