@use '../utils/variables' as *;

form {
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  padding: $spacing-sm;
  border: 1px solid $color-border;
  border-radius: $radius-sm;
  font-size: 14px;
  margin-bottom: $spacing-base;
}

form button:hover {
  opacity: 0.85;
}
